streamlit==1.20.0
folium==0.13.0
geopandas
leafmap
streamlit-folium
# git+https://github.com/giswqs/leafmap
# git+https://github.com/giswqs/geemap
openpyxl
openai
lxml
simplekml
pykml
geopy
fiona
shapely
dask-geopandas
pyogrio


